# Dependencies
node_modules/

# Production
dist/
dist-ssr/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Storage
uploads/
back-end/uploads/
front-end/public/uploads/
